In [1]:

import pandas as pd 
import numbers as np

In [4]:
data=pd.read_json('Bonds2000-200-200.json')
bonds_df=pd.DataFrame(data)

In [6]:
bonds_df.head(10)

,name,yeild,day,weekly,monthly,YTD,YOY,date,file_type
0,United States,4.522,0.1170,0.2470,0.1200,0.662,0.600,Dec/18,json
1,United Kingdom,4.563,0.0372,0.2419,0.1229,1.024,0.908,Dec/18,json
2,Japan,1.067,-0.0104,-0.0050,0.0021,0.451,0.427,Dec/18,json
3,Australia,4.406,0.1020,0.2020,-0.1600,0.446,0.284,Dec/18,json
4,Germany,2.255,0.0235,0.1245,-0.0825,0.226,0.237,Dec/18,json
5,Brazil,14.530,-0.3170,0.7500,1.6300,4.180,3.870,Dec/18,json
6,Russia,16.210,-0.1900,-0.1400,-0.0800,3.910,3.720,Dec/18,json
7,India,6.790,-0.0070,0.0350,-0.0510,-0.386,-0.381,Dec/18,json
8,Canada,3.249,0.1085,0.1645,-0.0835,0.142,0.107,Dec/18,json
9,Italy,3.392,0.0075,0.1985,-0.1600,-0.307,-0.250,Dec/18,json